.about-container {
  padding: 2em;
  height: 100%;
}

.about-content {
  background-color: #bdbcb8;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.about-image {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
  display: block;
  border-radius: 5px;
  margin: 1em 0;
}

.about-link {
  font-size: 0.875em;
  color: #333;
  text-decoration: none;
  margin-bottom: 0.9375em;
  display: inline-block;
  transition: color 0.3s ease-in-out;
}

.about-link:hover {
  color: #555;
}

.about-container h1 {
  color: #521d13;
  font-size: 4em;
  margin-bottom: 0.2em;
}

.about-container h2 {
  color: #694f35;
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

.about-container p {
  color: #333;
  line-height: 1.3;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.about-container ul {
  list-style: none;
  padding: 0;
  font-size: 1.5em;
  margin-bottom: 1em;
  text-align: left;
}
